// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

//Flexbox
@include flexbox($alignment, $wrap) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: $alignment;
	    -ms-flex-align: $alignment;
	        align-items: $alignment;
	wrap: $wrap;
}

//Transitions
@mixin hovertransition($timing) {
	-webkit-transition: $timing ease-in-out;
	transition: $timing ease-in-out;
}
